@page
@model MonitorModel
@{
    ViewData["Title"] = "Monitor";
}
<h2>@ViewData["Title"]</h2>

<address>
    NoBodyAtHomeCompany<br />
    Amsterdam, The Netherlands<br />
    <abbr title="Phone">P:</abbr>
    06-11532520
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@x42.net</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Forms@X42.net</a>
</address>
